<!DOCTYPE html>
<html>

<head>

  <title>ME3D</title>
  <link rel="icon" href="/images/favicon.png">

  <link rel="stylesheet" href="/stylesheets/index.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

</head>

<body>

  <img src="/images/icon-black.png" id="logo">
  <h1>Ola!</h1>
  <p>[ Click <b>Meeo</b> to Continue ]</p>
  
  <div class="meeo">
    <a href="/expense"><img src="/images/meeo-stand.png" id="meeo"></a>
  </div>

  <div class="wave-container">
    <svg viewBox="0 0 1000 200" preserveAspectRatio="none" style="width: 100%; height: 100%;">
      <path
        d="M0,200 L0.0,100.0 C 6.3,103.0 18.8,109.1 25.0,112.1 C 31.3,114.9 43.8,120.7 50.0,123.5 C 56.3,126.0 68.8,130.9 75.0,133.4 C 81.3,135.3 93.8,139.3 100.0,141.2 C 106.3,142.5 118.8,145.2 125.0,146.5 C 131.3,147.1 143.8,148.3 150.0,148.9 C 156.3,148.7 168.8,148.4 175.0,148.2 C 181.3,147.3 193.8,145.5 200.0,144.6 C 206.3,143.0 218.8,139.7 225.0,138.1 C 231.3,135.9 243.8,131.5 250.0,129.3 C 256.3,126.7 268.8,121.4 275.0,118.7 C 281.3,115.8 293.8,109.9 300.0,106.9 C 306.3,103.9 318.8,97.8 325.0,94.7 C 331.3,91.7 343.8,85.8 350.0,82.8 C 356.3,80.1 368.8,74.7 375.0,72.0 C 381.3,69.7 393.8,65.2 400.0,62.9 C 406.3,61.2 418.8,57.8 425.0,56.1 C 431.3,55.1 443.8,53.1 450.0,52.1 C 456.3,51.8 468.8,51.3 475.0,51.0 C 481.3,51.5 493.8,52.5 500.0,53.0 C 506.3,54.2 518.8,56.7 525.0,57.9 C 531.3,59.8 543.8,63.5 550.0,65.4 C 556.3,67.8 568.8,72.7 575.0,75.1 C 581.3,77.9 593.8,83.5 600.0,86.3 C 606.3,89.3 618.8,95.4 625.0,98.4 C 631.3,101.4 643.8,107.5 650.0,110.5 C 656.3,113.4 668.8,119.2 675.0,122.1 C 681.3,124.6 693.8,129.7 700.0,132.2 C 706.3,134.2 718.8,138.3 725.0,140.3 C 731.3,141.7 743.8,144.6 750.0,146.0 C 756.3,146.7 768.8,148.0 775.0,148.7 C 781.3,148.6 793.8,148.6 800.0,148.5 C 806.3,147.7 818.8,146.0 825.0,145.2 C 831.3,143.7 843.8,140.6 850.0,139.1 C 856.3,137.0 868.8,132.7 875.0,130.6 C 881.3,128.0 893.8,122.8 900.0,120.2 C 906.3,117.3 918.8,111.4 925.0,108.5 C 931.3,105.5 943.8,99.3 950.0,96.3 C 956.3,93.3 968.8,87.3 975.0,84.3 C 981.3,81.5 993.8,76.0 1000.0,73.3 C 1006.3,71.0 1018.8,66.3 1025.0,64.0 L1000.0,200.0 L0,200.0Z"
        fill="#fff8e7"
        >
          <animate
            attributeName="d"
            dur="10.0s"
            repeatCount="indefinite"
            values="M0,200 L0.0,100.0 C 6.3,103.0 18.8,109.1 25.0,112.1 C 31.3,114.9 43.8,120.7 50.0,123.5 C 56.3,126.0 68.8,130.9 75.0,133.4 C 81.3,135.3 93.8,139.3 100.0,141.2 C 106.3,142.5 118.8,145.2 125.0,146.5 C 131.3,147.1 143.8,148.3 150.0,148.9 C 156.3,148.7 168.8,148.4 175.0,148.2 C 181.3,147.3 193.8,145.5 200.0,144.6 C 206.3,143.0 218.8,139.7 225.0,138.1 C 231.3,135.9 243.8,131.5 250.0,129.3 C 256.3,126.7 268.8,121.4 275.0,118.7 C 281.3,115.8 293.8,109.9 300.0,106.9 C 306.3,103.9 318.8,97.8 325.0,94.7 C 331.3,91.7 343.8,85.8 350.0,82.8 C 356.3,80.1 368.8,74.7 375.0,72.0 C 381.3,69.7 393.8,65.2 400.0,62.9 C 406.3,61.2 418.8,57.8 425.0,56.1 C 431.3,55.1 443.8,53.1 450.0,52.1 C 456.3,51.8 468.8,51.3 475.0,51.0 C 481.3,51.5 493.8,52.5 500.0,53.0 C 506.3,54.2 518.8,56.7 525.0,57.9 C 531.3,59.8 543.8,63.5 550.0,65.4 C 556.3,67.8 568.8,72.7 575.0,75.1 C 581.3,77.9 593.8,83.5 600.0,86.3 C 606.3,89.3 618.8,95.4 625.0,98.4 C 631.3,101.4 643.8,107.5 650.0,110.5 C 656.3,113.4 668.8,119.2 675.0,122.1 C 681.3,124.6 693.8,129.7 700.0,132.2 C 706.3,134.2 718.8,138.3 725.0,140.3 C 731.3,141.7 743.8,144.6 750.0,146.0 C 756.3,146.7 768.8,148.0 775.0,148.7 C 781.3,148.6 793.8,148.6 800.0,148.5 C 806.3,147.7 818.8,146.0 825.0,145.2 C 831.3,143.7 843.8,140.6 850.0,139.1 C 856.3,137.0 868.8,132.7 875.0,130.6 C 881.3,128.0 893.8,122.8 900.0,120.2 C 906.3,117.3 918.8,111.4 925.0,108.5 C 931.3,105.5 943.8,99.3 950.0,96.3 C 956.3,93.3 968.8,87.3 975.0,84.3 C 981.3,81.5 993.8,76.0 1000.0,73.3 C 1006.3,71.0 1018.8,66.3 1025.0,64.0 L1000.0,200.0 L0,200.0Z;
       M0,200 L0.0,100.0 C 6.3,97.0 18.8,90.9 25.0,87.9 C 31.3,85.1 43.8,79.3 50.0,76.5 C 56.3,74.0 68.8,69.1 75.0,66.6 C 81.3,64.6 93.8,60.8 100.0,58.8 C 106.3,57.5 118.8,54.8 125.0,53.5 C 131.3,52.9 143.8,51.7 150.0,51.1 C 156.3,51.3 168.8,51.6 175.0,51.8 C 181.3,52.7 193.8,54.5 200.0,55.4 C 206.3,57.0 218.8,60.3 225.0,61.9 C 231.3,64.1 243.8,68.5 250.0,70.7 C 256.3,73.3 268.8,78.7 275.0,81.3 C 281.3,84.3 293.8,90.1 300.0,93.1 C 306.3,96.1 318.8,102.3 325.0,105.3 C 331.3,108.3 343.8,114.2 350.0,117.2 C 356.3,119.9 368.8,125.3 375.0,128.0 C 381.3,130.3 393.8,134.8 400.0,137.1 C 406.3,138.8 418.8,142.2 425.0,143.9 C 431.3,144.9 443.8,146.9 450.0,147.9 C 456.3,148.2 468.8,148.7 475.0,149.0 C 481.3,148.5 493.8,147.5 500.0,147.0 C 506.3,145.8 518.8,143.3 525.0,142.1 C 531.3,140.2 543.8,136.5 550.0,134.6 C 556.3,132.2 568.8,127.3 575.0,124.9 C 581.3,122.1 593.8,116.5 600.0,113.7 C 606.3,110.7 618.8,104.6 625.0,101.6 C 631.3,98.6 643.8,92.5 650.0,89.5 C 656.3,86.6 668.8,80.8 675.0,77.9 C 681.3,75.4 693.8,70.3 700.0,67.8 C 706.3,65.8 718.8,61.7 725.0,59.7 C 731.3,58.3 743.8,55.4 750.0,54.0 C 756.3,53.3 768.8,52.0 775.0,51.3 C 781.3,51.3 793.8,51.5 800.0,51.5 C 806.3,52.3 818.8,54.0 825.0,54.8 C 831.3,56.3 843.8,59.4 850.0,60.9 C 856.3,63.0 868.8,67.3 875.0,69.4 C 881.3,72.0 893.8,77.2 900.0,79.8 C 906.3,82.7 918.8,88.6 925.0,91.5 C 931.3,94.5 943.8,100.7 950.0,103.7 C 956.3,106.7 968.8,112.7 975.0,115.7 C 981.3,118.5 993.8,124.0 1000.0,126.7 C 1006.3,129.0 1018.8,133.7 1025.0,136.0 L1000.0,200.0 L0,200.0Z;
       M0,200 L0.0,100.0 C 6.3,103.0 18.8,109.1 25.0,112.1 C 31.3,114.9 43.8,120.7 50.0,123.5 C 56.3,126.0 68.8,130.9 75.0,133.4 C 81.3,135.3 93.8,139.3 100.0,141.2 C 106.3,142.5 118.8,145.2 125.0,146.5 C 131.3,147.1 143.8,148.3 150.0,148.9 C 156.3,148.7 168.8,148.4 175.0,148.2 C 181.3,147.3 193.8,145.5 200.0,144.6 C 206.3,143.0 218.8,139.7 225.0,138.1 C 231.3,135.9 243.8,131.5 250.0,129.3 C 256.3,126.7 268.8,121.4 275.0,118.7 C 281.3,115.8 293.8,109.9 300.0,106.9 C 306.3,103.9 318.8,97.8 325.0,94.7 C 331.3,91.7 343.8,85.8 350.0,82.8 C 356.3,80.1 368.8,74.7 375.0,72.0 C 381.3,69.7 393.8,65.2 400.0,62.9 C 406.3,61.2 418.8,57.8 425.0,56.1 C 431.3,55.1 443.8,53.1 450.0,52.1 C 456.3,51.8 468.8,51.3 475.0,51.0 C 481.3,51.5 493.8,52.5 500.0,53.0 C 506.3,54.2 518.8,56.7 525.0,57.9 C 531.3,59.8 543.8,63.5 550.0,65.4 C 556.3,67.8 568.8,72.7 575.0,75.1 C 581.3,77.9 593.8,83.5 600.0,86.3 C 606.3,89.3 618.8,95.4 625.0,98.4 C 631.3,101.4 643.8,107.5 650.0,110.5 C 656.3,113.4 668.8,119.2 675.0,122.1 C 681.3,124.6 693.8,129.7 700.0,132.2 C 706.3,134.2 718.8,138.3 725.0,140.3 C 731.3,141.7 743.8,144.6 750.0,146.0 C 756.3,146.7 768.8,148.0 775.0,148.7 C 781.3,148.6 793.8,148.6 800.0,148.5 C 806.3,147.7 818.8,146.0 825.0,145.2 C 831.3,143.7 843.8,140.6 850.0,139.1 C 856.3,137.0 868.8,132.7 875.0,130.6 C 881.3,128.0 893.8,122.8 900.0,120.2 C 906.3,117.3 918.8,111.4 925.0,108.5 C 931.3,105.5 943.8,99.3 950.0,96.3 C 956.3,93.3 968.8,87.3 975.0,84.3 C 981.3,81.5 993.8,76.0 1000.0,73.3 C 1006.3,71.0 1018.8,66.3 1025.0,64.0 L1000.0,200.0 L0,200.0Z"
          />
        </path>
    </svg>
  </div>
  
</body>

</html>