<!DOCTYPE html>
<html>

<head>

  <title>ME3D</title>
  <link rel="icon" href="/images/favicon.png">

  <link rel="stylesheet" href="/stylesheets/index.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

</head>

<body>

  <img src="/images/icon-black.png" id="logo">
  <h1>Ola!</h1>
  <p>[ Click <b>Meeo</b> to Continue ]</p>
  
  <div class="meeo">
    <a href="/expense"><img src="/images/meeo-stand.png" id="meeo"></a>
  </div>  
  
</body>

</html>